.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    height: 80vh;
}
.cover{
    background-image: url(public/IMG_4637.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.text{
    /* color: aqua; */
    font-family: 'Libre Baskerville', serif;
}
.heading{
    font-family: 'Shadows Into Light', cursive;
}
.intro{
    font-family: 'Indie Flower', cursive;
}
.myskills{
    display: grid;
}