*{
    cursor: none;
    background-color: yellow
}
body {
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 4rem;
}
header{
    position:absolute;
    top: 10%;
    left:10%;
    font-family: 'Shadows Into Light', cursive;
}
header h3{
    font-family: 'Indie Flower', cursive;
}
footer{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.cursor{
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    top:0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}
.links{
    position:absolute;
    top:10%;
    right:10%;
}
.links .icon{
    margin: 15px;
    width: 30px;
    height: 30px;
}