*{
    cursor: none;
    background-color: whitesmoke
}
body {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 4rem;
}
header{
    position:absolute;
    top: 10%;
    left:10%;
    font-family: 'Shadows Into Light', cursive;
}
header h3{
    font-family: 'Indie Flower', cursive;
}
footer{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.cursor{
    background-color: black;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: fixed;
    top:0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}
.circle{
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}
.links{
    position:absolute;
    top:10%;
    right:10%;
}
.links .icon{
    margin: 15px;
    width: 30px;
    height: 30px;
}
.menu {
    font-family: 'Orbitron', sans-serif;
}
.closeIcon, .menuicon{
    position: absolute;
    top: 10%;
    right: 10%;
    margin:15px;
    width: 30px;
    height: 30px;
}
.menu ul{
    position: absolute;
    top:20%;
    left:20%;
    font-size: xx-large;
}
.menu li{
    margin-bottom: 50px;
    padding-bottom: 10px;
    position: relative;
    border: none;
}
.menu li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
}

.menu li:hover::after {
    transform: scale(1, 1);
}
.menuicon{
    z-index: 2;
}
.pageTopic{
    font-family: 'Orbitron', sans-serif;
    margin:0;
    padding: 0;
}

.myPic {
    position: absolute;
    background: url('../public/images/IMG_8865.jpg');
    background-size: cover;
    width: 400px;
    height: 100%;
    top: 0;
    right: 15%;
    z-index: 1;
    pointer-events: none;
    /* border-radius: 50%; */
}
.About .pageContent{
    position: absolute;
    top: 30%;
    left: 20%;
}
hr{
    border:2px solid black;
}
.About p{
    font-family: 'Montserrat Alternates', sans-serif;
}
.resume{
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    border: none;
    margin-top: 30px;
}
.resume::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0,1);
    transition: transform 0.5s ease;
}
.resume:hover::after{
    transform: scale(1,1);
}
.contactForm{
    display: flex;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    margin-top: 5px;
    font-size: 1.2rem;
}
.contactForm input,textarea{
    background-color: whitesmoke;
    width: 500px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contactForm textarea{
    height: 100px;
}
.contact .pageTopic,.project .pageTopic{
    position: absolute;
    top: 15%;
    left: 15%;
}
.contact hr,.project hr{
    width: 70vw;
    position: absolute;
    top: 25%;
    left: 15%;
}
.submitButton {
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    border: none;
    margin-top: 10px;
    width: 50%;
}

.submitButton::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
}

.submitButton:hover::after {
    transform: scale(1, 1);
}
.contact .contactInfo{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}
.contact .contactInfo:nth-of-type(1) {
    position: absolute;
    top: 25%;
    left: 15%;
}

.contact .contactInfo:nth-of-type(2) {
    position: absolute;
    top: 25%;
    left: 67%;
}
.contact .show{
    width: 100%;
    font-size: 1.5rem;
}

.project .out-container{
    margin-top: 20%;
    background-color: white;
    width: 120vh;
    height: 70vh;
}
.project .scroll-container{
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-item {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.data-item .reverse .content {
    flex-direction: row-reverse;
}
.data-item .item-link{
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    cursor: text;
    border-bottom: none;
    font-size: 1.2rem;
}
.data-item .description{
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.content .projectImg {
    width: 75%;
    /* 图片宽度 */
    height: 75%;
    object-fit: cover;
    pointer-events: none;
}
.experience{
    position: absolute;
    bottom: 35%;
    right: 10%;
}
.experience .scrollable{
    height: 100%;
    width: 70%;
    overflow-y: auto;
}
.experience .title{
    display: flex;
    font-family: 'Orbitron', sans-serif;
}
.title .duration{
    margin-left: 5%;
}
.experience-item ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.experience-item li{
    margin-left: 10px;
    margin-top: 5px;
    border: 2px solid black;
    padding: 0 10px 0 10px;
    border-radius: 15%;
}